

	<header id="header" class="alt">

				<nav id="nav">

				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>NH1</h2>
				<p>THE AUTHENTIC DHABA EXPERIENCE</p>
				
			</section>


					<section id="three1" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>About Us</h2><br>
							We're bringing the delicious food found in the dhabas of NH - 1, right from Delhi to the Wagah Border. Ji Aaya Nu!We offer the yummiest non-vegetarian north indian delicacies along with a large variety of soya-chaps and dals in the vegetarian section with a large section of tandoori starters and breads.
<br/><br/><br/>
					<img class="main" src="/image11.jpg" alt="rss feed" />
					<img class="main" src="/image12.jpg" alt="rss feed" />
<br/>
						</header>

				</section>


				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>We are located at</h2><br>
							#1134, Green Glen Layout, Ballandur, Bangalore-560102
						</header>

				</section>



			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Services We Offer</h2>
							<p></p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								
								<div class="content">
									<header>
										<div class="fa fa-flag btn btn-lg"></div>
										<h4>Ordering</h4>
									</header>
									<br>
									<p>The ordering platforms feature a clean and contemporary design for a quick & seamless ordering, tracking and payment experience</p>
								</div>
							</div>
							<div class="feature">
								
								<!--<div class="image rounded"><img src="images/application.png" alt="" /></div>-->
								<div class="content">
									<header>
								<div class="fa fa-refresh btn btn-lg"></div>	
										<h4>Delivery</h4>
									</header>
									<br>
									<p>For home delivery, call us on 813612000 or 080-42117181.Area - Bellandur,Minimum order - Rs 250.
									</p>
								</div>
							</div>
					
						</div>
					</div>
				</section>
			<!-- One -->
		
<div id="images">
			<!-- Two -->
					<img class="main" src="/image9.jpg" alt="rss feed" />
					<img class="main" src="/image10.jpg" alt="rss feed" />
					<img class="main" src="/image3.jpg" alt="rss feed" />
					<img class="main" src="/image4.jpg" alt="rss feed" />
					<img class="main" src="/image5.jpg" alt="rss feed" />
					<img class="main" src="/image6.jpg" alt="rss feed" />
					<img class="main" src="/image7.jpg" alt="rss feed" />
					<img class="main" src="/image8.jpg" alt="rss feed" />
				</div>	
			<!-- Four -->
		
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/picturecomb" class="icon fa-facebook"></a></li>
						<li><a href="https://twitter.com/picturecomb" class="icon fa-twitter"></a></li>
						<li><a href="https://www.linkedin.com/company/6654389" class="icon fa-linkedin"></a></li>
					</ul>
					<ul class="copyright">
						<li>© NH1 BANGALORE</li>
						<!--<li><a href="terms">Terms & Conditions</a></li>
						<li><a href="privacy">Privacy Policy</a></li>-->
						<li>phone: +91-813612000 or 080-42117181</li>
						<li>web: www.nh1bangalore.com</li>

					</ul>
					<img class="fb" src="/fb-icon.png" alt="rss feed" /><br/>
					<img class="fb1" src="/instagram.png" alt="rss feed" /><br/>
					<img class="fb2" src="/zomato.jpg" alt="rss feed" />
				</div>
			</footer>
