

	<header id="header" class="alt">

				<nav id="nav">

				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>NH1 Bangalore</h2>
				<p><br>Food for every kind of hunger</p>
				
			</section>



			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Services We Offer</h2>
							<p></p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								
								<div class="content">
									<header>
										<div class="fa fa-flag btn btn-lg"></div>
										<h4>Ordering</h4>
									</header>
									<br>
									<p>The ordering platforms feature a clean and contemporary design for a quick & seamless ordering, tracking and payment experience</p>
								</div>
							</div>
							<div class="feature">
								
								<!--<div class="image rounded"><img src="images/application.png" alt="" /></div>-->
								<div class="content">
									<header>
								<div class="fa fa-refresh btn btn-lg"></div>	
										<h4>Packaging</h4>
									</header>
									<br>
									<p>Our packaging is engineered to keep the food fresh, hot and easy to consume. Our delivery bags maintain food integrity through the delivery cycle
									</p>
								</div>
							</div>
							<div class="feature">
								
								<!--<div class="image rounded"><img src="images/signage.png" alt="" /></div>-->
								<div class="content text-center">
									<header>
										<div class="fa fa-lock btn btn-lg"></div>
										<h4>Delivery</h4>
									</header>
									<br>
									<p>We promise a 38 min or free delivery guarantee. We incorporate 8 extra mins (30 + 8) to ensure rider and road safety</p>
								</div>
							</div>
							<div class="feature">
								<!--<div class="image rounded"><img src="images/idea.png" alt="" /></div>-->
								
								<div class="content">
									<header>
										<div class="fa fa-qrcode btn btn-lg"></div>
										<h4>Party/Bulk Order Experts, Call 
(STD)-33552698 To Customise</h4>
								
									</header>
									<br>
									<p>Party/Bulk Order Experts, Call 
(STD)-33552698 To Customise</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			<!-- One -->
		

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Features</h2><br>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<!--<img src="images/pic02.jpg" alt="" />-->
									<h3>Food For Every Kind
Of Hunger</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<!--<img src="images/gravitas.jpg" alt="" />-->
									<h3>Order on App/Web or 
Call - (STD)-33552698</h3>
								</div>
							</div>
						</div>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<!--<img src="images/pic02.jpg" alt="" />-->
									<h3>Superb Late Night Delivery 
Till 1:00 AM</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<!--<img src="images/gravitas.jpg" alt="" />-->
									<h3>Party/Bulk Order Experts, Call 
(STD)-33552698 To Customise</h3>
								</div>
							</div>
						</div>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<!--<img src="images/pic02.jpg" alt="" />-->
									<h3>India's Fastest Growing
Food Start-up</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<!--<img src="images/gravitas.jpg" alt="" />-->
									<h3>Free Delivery Across 
Mumbai, Pune & Bangalore</h3>
								</div>
							</div>
						</div>
						<!--<ul class="actions">
							<li><a href="#" class="button special big">Nulla luctus</a></li>
							<li><a href="#" class="button big">Sed vulputate</a></li>
						</ul>-->
						 
					</div>
				</section>
			<!-- Four -->
		
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.facebook.com/picturecomb" class="icon fa-facebook"></a></li>
						<li><a href="https://twitter.com/picturecomb" class="icon fa-twitter"></a></li>
						<li><a href="https://www.linkedin.com/company/6654389" class="icon fa-linkedin"></a></li>
					</ul>
					<ul class="copyright">
						<li>© NH1 BANGALORE</li>
						<!--<li><a href="terms">Terms & Conditions</a></li>
						<li><a href="privacy">Privacy Policy</a></li>-->
						<li>phone: +91-9739069029</li>
						<li>web: www.nh1bangalore.com</li>
						

					</ul>
				</div>
			</footer>
